* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sketch-pad {
  margin: 0 auto;
  height: 100%;
  aspect-ratio: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header */

#header {
  height: fit-content;
  background-color: #f9d4c5;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #display {
  font-size: 18px;
}

#header #reset {
  border: none;
  padding: 0 10px;
  font-weight: 900;
  background-color: #d4c5f9;
}

/* Container */

#container {
  background-color: #ebf9c5;

  display: flex;
  flex-direction: column;
}

#container .row {
  flex: 1;
  display: flex;
}

#container .row .cell {
  flex: 1;
  border: 0.5px solid black;
}

.cell:hover {
  background-color: #c5ebf9;
}
